<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Category</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Items</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Sport</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Sport</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Sport</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Sport</td>
            <td>12</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
