<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Single</h1>
    <form>
        <label>Name</label>
        <input value="football">
        <br>
        <label>Category</label>
        <input value="sport">
        <br>
        <label>Price</label>
        <input value="10">
        <br>
        <label>Description</label>
        <br>
        <textarea>DescriptionDescriptionDescriptionDescription</textarea>
        <br>
        <input type="submit" value="update">
    </form>
</div>
</body>
</html>
